@model Models.ObjGestionActualites


@{
	var classDivUpload="";
	var classDivChemin="";
	var nomFichier="";
}
<div class="noMarginPaddingVertical" id="form-container">
	<div class="modal-header noMarginPaddingVertical">
	    <button type="button" class="close" onclick="fermerModalAdministration();" aria-hidden="true">&times;   </button>
	    <h3 class="modal-title noMarginPaddingVertical" style="color:white;" id="imageModalLabel">@Model.TitrePage</h3>
	</div>

	<div class="container modal-body noMarginPaddingVertical">

		<div class="noMarginPaddingVertical">
	     @using(Html.BeginForm("GererActualitePost", "Administration",  FormMethod.Post, new { id = "MyForm",enctype = "multipart/form-data" }))
                    {
			 <h4>Informations principales</h4>
                     <div   class="col-lg-6 col-lg-offset-2" >
		                 <p class="ValidationKO" id="BlocMessageKO" >@Model.messageKO</p>
                            @Html.ValidationSummary("")
                     </div>
	                  <div class="ValidationOK col-lg-4 col-lg-offset-3" >
		                  <p>@Model.messageOK</p>
                     </div>
                     @Html.TextBoxFor(model => model.Actualite.Id ,new { @id = "tbxId", @style = "display:none;"  })

			<div class="col-lg-10  row blocFormulaire">
	                 	<span class="col-lg-2 libelleFormulaire">Titre (*)</span><span class="col-lg-8">@Html.TextBoxFor(model => model.Actualite.Titre ,new { @id = "tbxTitre", @style = "width:100%;"  }) </span>
	                 </div>
			<div class="col-lg-10 row blocFormulaire">
	                 	<span class="col-lg-2 libelleFormulaire">Equipe</span><span class="col-lg-6">@Html.DropDownListFor(model => model.Actualite.idEquipe, new SelectList(Model.lEquipes, "ID", "VALEUR_STRING", Model.lEquipes), new { @id = "ddlEquipes",@style = "width:50%;" })</span>
	                 </div>
			<div class="col-lg-10 row blocFormulaire">
	                 	<span class="col-lg-2  libelleFormulaire">Resume (*)</span><span class="col-lg-8">@Html.TextAreaFor(model => model.Actualite.Resume ,new { @id = "tbxResume", @style = "width:100%;", @rows = "7"  })</span>
	                 </div>
		              <div class="col-lg-10 row blocFormulaire">
	                 	<span class="col-lg-2  libelleFormulaire">Texte</span><span class="col-lg-8">@Html.TextAreaFor(model => model.Actualite.Texte ,new { @id = "tbxTexte", @style = "width:100%;", @rows = "24"  })</span>
	                 </div>
			        <div  id="formulaireDocument" >
				    	<div class="col-lg-10 row blocFormulaire">
			            	<span class="col-lg-2  libelleFormulaire">Image/Vidéo</span>
							<span class="col-lg-6"> 
						        @if(!String.IsNullOrEmpty(@Model.Actualite.CheminDocument))
								{
						            classDivChemin="";
									classDivUpload="display:none";
									nomFichier=@Model.Actualite.CheminDocument.Replace(Commons.Const.UploadDocumentPath+"/","");
								}
								else
								{
						            classDivChemin="display:none";
									classDivUpload="";
									nomFichier="N/A";
								}

								<div class="row"  style="@classDivChemin" id="suppression_document_Document">			      
									@Html.Label("NomFichierDocument", @nomFichier, new {@id="LblNomFichierDocument", @class="lblNomFichier", @style="font-size:15px"})
							        <a class="actionButtons" align="right"  href="#" style="margin-left:13px;"	
										onclick="javascript:supprimerFichier('Administration','Actualite',@Model.Actualite.Id,'Document');">
                            						<img src="../resources/img/cross.png" title="Supprimer le fichier"/>
                            					</a>	
								</div>
								<div  class="inputDoc" style="@classDivUpload" id="upload_document_Document" >
									<input type="file" id="FileUploadDocument" />
						        	</div>
							</span>
			             		</div>
					</div>
				   	<div class="col-lg-3 col-lg-offset-3 row blocFormulaire" align="center" style="margin-top:35px;margin-bottom:20px;">

				         	<button id="btn-submit" class="btn btn-primary" style="margin-right:40px" ><span class="glyphicon glyphicon-ok-sign"></span>@Model.LibelleBoutonSauvegarde</button>
			             		<button type="button" class="btn btn-default" onclick="fermerModalAdministration();">Retour</button>
	   				 </div> 
	               }
	    </div>	
	</div>
</div>

<script src="@Url.Content("~/Scripts/AdminActualites.js")"></script>
 <script type="text/javascript">
		var model = @Html.Raw(Json.Encode(Model));
		getInfosModel(model);
		initformWithFiles('Administration','Actualite',[],['Document']);	
</script>
