@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Partenariat avec le PSG</h1>

<div class="container" style="width:90%;font-size:15px;margin-top:30px;" >
	<div align="center" class="divImageClub photoHistoire" >
	      <img  src="@Url.Content(Commons.Const.CheminRelatifImagesPSG+"image1.jpeg")" title="" alt="" class="imageClub img-responsive img-rounded img-thumbnail">
	 </div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Depuis de nombreuses années, notre club est lié au PSG. C’est un club ami et fidèle dont nous sommes un club filleul avec fierté.
	</div>
	<div class="divHistoire">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Depuis le début, nous bénéficions gracieusement de matériels et d’équipements, d’invitations aux matchs, aux entraînements des Pro, à des tournois de football et à différents évènements sportifs et ludiques.
	</div>
	<div class="divHistoire">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Dès 1998, le PSG nous a offert des « emplois tremplins » pour 2 jeunes majeurs de notre club. Durant 5 ans, ils ont été formés, diplômés et payés par le PSG afin d’encadrer nos équipes de jeunes.
	</div>
	<div class="divHistoire">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Des entraîneurs ont travaillé dans les 2 clubs, en catégories Jeunes, un ancien Président a eu ses enfants licenciés à l’A.S. CENTRE, et durant plusieurs années nous avons partagé le même Docteur, notre grand ami ALAIN SIMON, médecin fidèle du PSG, de l’équipe de France de football aussi, et qui fut joueur de notre club dans ses jeunes années. Durant de nombreuses saisons, il a assuré les visites médicales et validé les licences de tous nos licenciés et a soigné avec générosité quelques-uns de nos blessés. Il est un lien idéal entre le PSG et l’AS CENTRE DE PARIS et a toujours fait preuve d’une grande fidélité envers notre club.
	</div>
	<div class="divHistoire">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Nous avons de multiples bons souvenirs avec le PSG et le plus important d’entre eux, c’est notre victoire au Parc des Princes au grand tournoi Poussins 2001 organisé avec les meilleurs clubs de la région parisienne (voir le document ci-joint).
	</div>
	<div align="center" class="divImageClub photoHistoire" >
	      <img  src="@Url.Content(Commons.Const.CheminRelatifImagesPSG+"image2.jpeg")" title="" alt="" class="imageClub img-responsive img-rounded img-thumbnail">
	</div>
	<div class="divHistoire">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		1er sur 32, et la coupe des vainqueurs remises par RONALDHINO lui-même, joueur à l’époque du PSG.
	</div>
	<div align="center" class="divImageClub photoHistoire" >
	      <img  src="@Url.Content(Commons.Const.CheminRelatifImagesPSG+"image3.jpeg")" title="" alt="" class="imageClub img-responsive img-rounded img-thumbnail">
	 </div>
	<div align="center" class="divImageClub photoHistoire" >
	      <img  src="@Url.Content(Commons.Const.CheminRelatifImagesPSG+"image4.jpeg")" title="" alt="" class="imageClub img-responsive img-rounded img-thumbnail">
	 </div>
	<div class="container-fluid">
		<div class="row">
			<div align="center" class="divImageClub photoHistoire col-lg-5 col-lg-offset-1">
			      <img  src="@Url.Content(Commons.Const.CheminRelatifImagesPSG+"image5.jpeg")" title="" alt="" class="imageClub img-responsive img-rounded img-thumbnail">
			 </div>
			<div align="center" class="divImageClub photoHistoire col-lg-5">
			      <img  src="@Url.Content(Commons.Const.CheminRelatifImagesPSG+"image6.jpeg")" title="" alt="" class="imageClub img-responsive img-rounded img-thumbnail">
			 </div>
		 </div>
	</div>
</div>
@Html.Partial("~/Views/Shared/_PartialBackToTop.cshtml")