@model Models.Document


    <div class="myoutercontainer">


        @if(Model.isImage)
        {
            <img id="doc_image" src="@Url.Content(Model.CheminDocument)" title="@Model.Titre" alt="L'image n'a pas pu être chargée" style="max-height:275px;" class="img-responsive img-rounded fancybox img-thumbnail imgBox myinnercontainer">
        }
        @if (Model.isVideo)
        {
            <video id="video_@Model.Id" class="video-js video-document videoToLoad myinnercontainer" controls preload="auto" 
                   data-setup="{}">
                <source src="@Url.Content(Model.CheminDocument)">

                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>

        }
        @if(!Model.isVideo && !Model.isImage)
        {
            <div align="center">
                @using (Html.BeginForm("TelechargerDocument", "Document", FormMethod.Post, new { @data_id = Model.Id, @class = "formDownload" }))
                {
                    <input type="image" style="cursor:pointer; vertical-align: middle;" src="@Url.Content(Model.CheminImageFormatUpload)" alt="Télécharger le fichier" title="Télécharger le fichier" class="ImageTelechargement imgBox myinnercontainer" />
                }
            </div>
        }
    </div>
    <div style="width:100%;">
        <h4>@Model.Titre</h4>
        @if (!Model.isVideo && !Model.isImage)
        {
            <h5 align="center" style="font-size:14px">@Model.NomFichierUpload</h5>
        }
    </div>
    <div align="left" style="font-size:15px; width:100%; overflow-x:auto;">
        @ASCentreParis.Helpers.HtmlHelper.HTMLRaw("Texte", @Model.Texte)
    </div>
