@model Models.ObjDocument

@{
    // Variable allant être incrémentée et utilisée pour afficher correctement le nombre de lignes
    int NbDocuments=0;
}



<div class="container-fluid " >
    <div id="content"  class="col-xs-12" style="width:100%" >   
        @Html.Raw(@"<div class=""row noMarginPaddingVertical"" >")
        @foreach (Models.Document doc in @Model.ListeDocuments)
        {
            if (@NbDocuments > 0 && @NbDocuments % @Model.NombreDocumentsParLigne == 0)
            {
                @Html.Raw("</div>")
                @Html.Raw(@"<div class=""row noMarginPaddingVertical"">")
            }
            <div align="center" class="col-xs-12 divGallery project-imgs">
                @Html.Partial("DisplayDocument", doc)
            </div>
            <div class="col-xs-10 divGallery noMarginPaddingVertical col-xs-offset-1">
                <hr />
            </div>
            NbDocuments++;
        }
        @Html.Raw("</div>")
    </div>
</div>  
<div id="page_navigation"> </div>

